body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    background-image: url('../Images/admindashboard.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }
