/* Global styles */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    background-image: url('../Images/doctordiseaserecord.jpg'); /* Replace with your desired image path */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #333; /* Change text color if necessary */
}

.table {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

    .table th, .table td {
        vertical-align: middle;
    }

    .table .fw-bold {
        font-weight: bold;
        background-color: #f8f9fa;
        text-align: center;
        padding: 15px;
    }

    .table td {
        background-color: #ffffff;
        text-align: center;
        padding: 15px;
    }
