body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    background-image: url('../Images/doctordashboard.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.background {
    position: relative;
    background-image: url('../Images/doctordashboard.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
