/* Content/Login.css */

.container {
    margin-top: 50px;
}

.col-md-4 {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    padding: 10px;
    border-radius: 5px;
}

/* Error and Success Message Styling */
label {
    display: block;
    margin-top: 10px;
}

    label.error {
        color: red;
    }

    label.success {
        color: green;
    }
